
#content{

	 background:#808080;
	height:220;
	width:30%;
	margin:180px auto;
	border:1px solid red;


}
body{
	 
    background: url(im25.jpg) no-repeat center center fixed; 
    
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    opacity: 0.5;
    filter: alpha(opacity=50);

}

form{
	width:50%;
	margin:20px auto;
	
}
form div{
	margin-top:5px;

}
#img_div{
	width:80%;
	margin:15px auto;
	padding:5px;
	border:1px solid red;

	
}
#img_div:after{
	content:"";
	display:block;
	clear:both;

}
img{
	float:left;
	margin:5px;
	width:300px;
	height:140px;
}
body:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}